*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    height: 100%;
    
}
.header
{
    padding: 15px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
    justify-content:start;
   
}
.logo_text,.logo_text_payroll
{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: sandybrown;
    line-height: 20px;
     
}
.logo_text_book
{
    color: darkslategray;
}
.logo_icon
{
    height: 50px;
    width: 40px;
}